doctype html
meta(charset="utf-8")

html
	head
		title Extrajudicial Police Killings
		
		link(rel="author", href="humans.txt")

		link(rel="stylesheet", type="text/css", href="_/css/vendor/normalize.css")
		link(rel="stylesheet", type="text/css", href="_/css/vendor/foundation.min.css")

		style(type="text/css").
			body, html {
				background-color:antiquewhite;
			}

		script(type="text/javascript", src="_/js/vendor/modernizr.js")
		script(type="text/javascript", src="_/js/vendor/jquery.js")
		script(type="text/javascript", src="_/js/vendor/jquery.cookie.js")
		script(type="text/javascript", src="_/js/vendor/fastclick.js")
		script(type="text/javascript", src="_/js/vendor/placeholder.js")
		script(type="text/javascript", src="_/js/vendor/foundation.min.js")

		script(type="text/javascript", src="_/js/vendor/d3-master/d3.min.js")

		script(type="text/javascript").
			$(document).foundation();

	body
		#map-container
			#map-title Extrajudicial Police Killings of Unarmed Black Youth
			#map-view
			#map-caption